node_modules/
!fixtures/**/node_modules/
dist/
.turbo/
.next/
docs/.next/
out/
docs/out/
*.tsbuildinfo
coverage/
.DS_Store
*.vsix
.system_generated/
*.log
semgrep-report.json

# Environment & Secrets
.env
.env*
*.env
.env.local
.env*.local
